/* Print Kwitansi CSS */
.print-kwitansi {
	position: relative;
	text-align: center;
	display: inline-block;
}

.no-kwitansi {
	position: absolute;
	top: 4%;
	left: 40%;
	font-size: x-large;
	font-weight: bold;
}

.kwitansi-nama {
	position: absolute;
	top: 20%;
	left: 44%;
	font-size: larger;
	font-weight: bold;
}

.kwitansi-terbilang {
	position: absolute;
	top: 32%;
	left: 47%;
	font-size: small;
	font-weight: bold;
}

.kwitansi-deskripsi-1 {
	position: absolute;
	top: 40%;
	left: 44%;
	font-size: medium;
	font-weight: bold;
}

.kwitansi-deskripsi-2 {
	position: absolute;
	top: 50%;
	left: 25%;
	font-size: medium;
	font-weight: bold;
}

.kwitansi-tanggal {
	position: absolute;
	top: 57%;
	left: 74%;
	font-size: large;
	font-weight: bold;
}

.kwitansi-total {
	position: absolute;
	top: 86%;
	left: 44%;
	font-size: large;
	font-weight: bold;
}

.kwitansi-text-kasir{
  position: absolute;
  top: 80%;
  left: 76%;
  font-size: small;
  font-weight: bold;
}

.kwitansi-nama-kasir{
  position: absolute;
  top: 86%;
  left: 76%;
  font-size: small;
  font-weight: bold;
}