.page {
  background: white;
  width: 21cm;
  /*height: 29.7cm;*/
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-size: 10px;
  font-family:  serif;
}
 .table.nota-header>tbody>tr>td, .table.nota-header>tbody>tr>th, .table.nota-header>tfoot>tr>td, .table.nota-header>tfoot>tr>th, .table.nota-header>thead>tr>td, .table.nota-header>thead>tr>th {
     padding: 0px; 
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
    font-size:10px;
   
}
.table.nota>tbody>tr>td, .table.nota>tbody>tr>th, .table.nota>tfoot>tr>td, .table.nota>tfoot>tr>th, .table.nota>thead>tr>td, .table.nota>thead>tr>th {
     padding: 0px; 
    line-height: 1.42857143;
    vertical-align: top;
     
    font-size:10px;
     border: 1px solid #000;
   
}

.table.footer-nota>tbody>tr>td, .table.footer-nota>tbody>tr>th, .table.footer-nota>tfoot>tr>td, .table.footer-nota>tfoot>tr>th, .table.footer-nota>thead>tr>td, .table.footer-nota>thead>tr>th {
     padding: 0px; 
    line-height: 1.42857143;
    vertical-align: top;
     
    font-size:10px;
     border: 0px solid #000;
   
}

table.table.table-condensed.table-sm.invoice.table-bordered.nota{
	    border: 1px solid #000;
}
.text-rs-title{
	margin-bottom: 0px;
}
.grey-background{
	background-color: #d3d3d3;
}
.panel-heading.no-tagihan{
	padding: 0px 15px;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    font-size: 10px;
}
h4.panel-title{
	 font-size: 13px;
}
.invoice-title{
	padding:0px 10px;
	float:left;
}
.invoice-logo{
	margin-top: 12px;
	margin-left: 25px;
	float: left;
	width: 45px;
}
.panel.panel-default.no-border{
	border:0px solid transparent;
}

@media print {
	 @page { margin: 1cm; }
  body, .page {

  	width: 21cm;
 	height: 29.7cm;
    margin: 0px;
    box-shadow: 0;
  }
 
	td.grey-background{
    background-color: #d3d3d3 !important;
     -webkit-print-color-adjust: exact; 
  }
	 table tbody tr td:before,
    table tbody tr td:after {
        content : "" ;
        height : 4px ;
        display : block ;
    }

	
}