@media print{
	 @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
        width: 57mm;
    }
}
td {
	min-width: 25mm;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;		
}
.text-right{
	text-align: right;			
}