@charset "utf-8";
/* CSS Document */

/*body {
		font-family: verdana, arial, helvetica;
		font-size: 11px;
		color: #000000;
	}
*/
	
#header{
	background:url(../img/bg-header.png) repeat-x;
	height:100px;
	border-top:#333 5px solid;
	}




#logo{
	/* background:url(../img/logo-1.png) no-repeat; */
	float:left;
	height:100px;
	width:463px;
	}
#bg_variation{
	background:url(../img/bg_variation.jpg) no-repeat;
	float:left;
	height:100px;
	width:100%;
	}

#info_header{
	font-family:Tahoma, Geneva, sans-serif;
	/* background:url(../img/bg_right.png) no-repeat; */
	width:250px;
	height:100px;
	font-size:12px;
	font-weight:bold;
	margin-right:10px;
	margin-top:5px;
	color:#FFF;
	float:right;
	}
#info_isi {
   /*  padding: 10px; */
    text-align: center;
     text-shadow: 2px 2px 5px #000000;
}
/* isi container */

#container_master_bg{
	background:#ffffff;
	height:100%;
	min-height:400px;
	}
#container{
	z-index:1;
	border-top:#C5BBBB 8px solid;
	background:url(../img/bg_container.png) no-repeat;
	background-attachment:inherit;
	position:relative;
	margin:34px 0px 0px 0px;
	padding:5px;
	height:100%;
	}
#frame{
	border:1px solid #666;
	width:100%;
	background:url(../img/bg_conten.png) repeat-x;
	background-color:#FFF;
	
	}

#frame_title{
	background:url(../img/frame_title.png) repeat-x;
	padding:5px;
	margin-bottom:5px;
	text-align:left;
	}
#frame_title >h3{
	font-family: Verdana, Geneva, sans-serif;
    color: #FDFDFD;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}	
.navbar{
	color: white;
	min-height: 30px;
	/*background-color: blue;*/
}

.nav.navbar-nav li a {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}
.nav.navbar-nav li  {
    background-color: #03AEF0;
    margin-right: 2px;
}
.nav.navbar-nav >li.active  {
    background-color: #ccc;
    
}
.navbar-toggle{
	    border: 1px solid rgb(0, 0, 0);
	    color: black;
}
.navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-collapse{
	padding-left: 0;
	padding-top: 5px;
}
.dropdown-menu{
	padding: 2px 0;
}
.dropdown-menu .divider {
	margin: 1px 0;
	}
.form-group.last { 
	margin-bottom:0px;

}
.form-container{
	margin: 5px;
	text-align: left;
}
.fieldset {
    border: 1px solid #993;
    margin: 5px;
    padding: 5px;
    width: 98%;
    background-color: #FFF;
}
.form-horizontal .control-label {
	/*text-align:left;*/
}
legend {
    font-variant: small-caps;
    color: #F80825;
    font-weight: bold;
    font-size: 21px;
}

#footer{
	padding-left:10px;
	padding-right: 10px; 
}
.data-container{
	margin: 10px;
	
}
.table-container{
	margin:  5px 10px;
}
label{
	margin-bottom:3px;
}
.small-panel{
	margin-bottom: 0px;
}
.table.table-hover.table-condensed.table-billing>tbody>tr>td{
	border-top:0px;
	padding: 2px;
	margin-bottom: 0px;
}

.table.table-hover.table-condensed.table-billing.invoice>tbody>tr>td{
	border-top:0px;
	padding: 2px;
	margin-bottom: 0px;
}

.table-condensed.invoice>tbody>tr>td, 
.table-condensed.invoice>tbody>tr>th, 
.table-condensed.invoice>tfoot>tr>td, 
.table-condensed.invoice>tfoot>tr>th, 
.table-condensed.invoice>thead>tr>td, 
.table-condensed.invoice>thead>tr>th {
    padding: 2px;
    border-top:0px;
    border-style: none;
}
.table.table-hover.table-condensed.table-billing{
	margin-bottom: 0px;
}


/* invoice */
.invoice-title h2, .invoice-title h3 {
    display: inline-block;

}
.invoice-title{
	padding-left: 10px;
	margin: 0;
}
hr.invoice-hr{
	margin-top: 0;
	margin-bottom: 0;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}
.table-condensed.invoice>tbody>tr>td.text-note{
	text-align: right;
	padding-right: 15px;
}


.table-diagnosa{
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}

.table.table-diagnosa>tbody>tr>td{
	border:none;
	padding: 3px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background-color: #ccc;
}

.tab-diagnosa{
	margin-bottom: 20px;
}
.content-diagnosa{
	font-family: Verdana, Geneva, sans-serif;
   
    
    padding: 2px;
}
.form-group{
	margin-bottom: 5px;
}
.trumbowyg-box, .trumbowyg-editor{
	margin: 5px auto;
	min-height:150px;
	
}
.trumbowyg-editor, .trumbowyg-textarea{
	padding: 10px;
}
#btn-tindakan{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#btn-tindakan-lain{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#btn-status-pembayaran{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#btn-riwayat-pasien{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#btn-konsultasi-gizi{
	padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.text-rs-title{
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}
.text-rs-address{
	margin-top: 0px;
	margin-bottom: 0px;
}
#table-stok-bulanan{
	font-size: 10px;
}

.table.table-hover.table-condensed.table-billing.table-sm.nota>tbody>tr>td{
padding: 0px;
}


#print-invoice{
	font-family: "Calibri";
	font-size: 12px;
    line-height: 1;
}

#nota.table>tbody>tr>td,
#nota.table>tbody>tr>th, 
#nota.table>tfoot>tr>td, 
#nota.table>tfoot>tr>th,
#nota.table>thead>tr>td,
#nota.table>thead>tr>th {
    
    line-height: 1;
    vertical-align: top;
    
}
#nota-atas.table>tbody>tr>td,
#nota-atas.table>tbody>tr>th, 
#nota-atas.table>tfoot>tr>td, 
#nota-atas.table>tfoot>tr>th,
#nota-atas.table>thead>tr>td,
#nota-atas.table>thead>tr>th {
    
    line-height: 1;
    vertical-align: top;
    
}
#nota.table{
	margin-bottom: 0;
}
#print-invoice>.row>.col-md-12>.panel.panel-default>.panel-body{
	padding: 5px;
}



@media print{
	 @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 5mm;  /* this affects the margin in the printer settings */
    }
}


.container-data-resep{
padding-top: 30px;
}


/* custom text color */
.text-red{
	color:red;
}
.text-green{
	color: #5cb85c;
}



.data-pembayaran{
	font-size:12px;
	font-family: Arial, Helvetica,sans-serif;
}
tbody.data-pembayaran>tr>td{
		padding:2px;
	}
.tabel-kecil{
	font-size:12px;
	font-family: Arial, Helvetica,sans-serif;
}
tbody.tabel-kecil>tr>td{
		padding:2px;
	}

tr.header-resep{
	background-color: #e2d078;
}
tr.header-racik{
	background-color: #debd1a;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #cac9c9;
}
.data-pasien{
  font-weight: bold;
}
.header-pembayaran{
	background-color: #98872d;
	color: white;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#result{
	margin-top: 20px;
	padding: 10px; 
}
.grey-background{
	background-color: #d3d3d3;
}
.text-center{
	    text-align: center;
}

 