@keyframes slideleft {
	from {
		background-position: 0%;
	}
	to {
		background-position: 90000%;
	}
}

@-webkit-keyframes slideleft {
	from {
		background-position: 0%;
	}
	to {
		background-position: 90000%;
	}
}

.login-page {
	background-image: url("../img/bg.jpg");
	background-repeat: repeat-x;
	animation: slideleft 20000s infinite linear;
	-webkit-animation: slideleft 20000s infinite linear;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-attachment: fixed;
	position: relative;
	min-height: 100vh;
}

.login-layer {
	background: rgba(0, 0, 0, 0.7);
	min-height: 100vh;
}

.login-layer > h1 {
	font-size: 40px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	padding: 1em 1em 0 1em;
}
.login-layer > h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}
.login-layer > h5 {
	font-size: 15px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
}

.login-box {
	margin: 0 auto;
	position: relative;
	z-index: 999;
	padding: 2em 2em 1em 2em;
	background: rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.login-box .card {
	background: rgba(255, 255, 255, 0.04);
	box-shadow: none;
}

.login-box .card .card-body {
	padding: 0;
}

.login-box .card .card-body input {
	background: #7e879680;
	border: none;
	color: white;
	font-weight: 700;
}

.login-box .card .card-body input::placeholder {
	color: white;
	font-weight: 700;
}

.login-box .card .card-body input:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.login-box .card .card-body select {
	background: #7e879680;
	border: none;
	color: white;
	font-weight: 700;
}

.login-box .card .card-body select:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.login-box .card label {
	color: white;
}

.login-logo {
	text-align: center;
}
.login-logo img {
	width: 40%;
}

/*-- copyright --*/
.copyright {
	padding: 2em 0;
	text-align: center;
}
.copyright p {
	font-size: 15px;
	letter-spacing: 1px;
	color: #ccc;
	line-height: 1.8em;
}
.copyright p a {
	color: #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
